#artistList {
  .artist-item {
    display: flex;
    line-height: 45px;
  }
  .artist-item-old {
    color:rgb(24, 24, 141);
  }
  .artist-avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  .artist-banner {
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
}
