@import url("//at.alicdn.com/t/c/font_2900696_tfb733f7pqh.css");

* {
  margin: 0;
  padding: 0;
}

.navs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  border-top: 1px solid #eee;
}
